/** @format */

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 10rem;
  gap: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 426px) {
  .grid_container {
    grid-template-columns: 1fr;
  }
}
