/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 42.5%;
  }
}
